<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tungying_chao.rockshare" >
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.internet"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.example.tungying_chao.beanconnection.BeanConnectionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.tungying_chao.rockshare.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.tungying_chao.rockshare.MenuActivity" />
        <activity android:name="com.example.tungying_chao.rockshare.MusicListActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.example.tungying_chao.rockshare.BeanListActivity" />
        <activity android:name="com.example.tungying_chao.rockshare.UserListActivity"/>
        <activity android:name="com.example.tungying_chao.rockshare.AboutActivity"/>
        <activity android:name="com.example.tungying_chao.rockshare.MusicPlayerActivity"/>

    </application>
    <!--<application
        android:name="com.example.tungying_chao.beanconnection.BeanConnectionApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"/>-->

</manifest>
